<%- include('../../partials/header.ejs') %>

    <body>
        <%- include('../../partials/homenavbar.ejs') %>
            <div class="container">
                <%for (article of result.articles.rows) {%>

                    <div class="card text-white bg-primary mb-3 mt-3">
                        <div class="card-header">
                            <h2>
                                <%= article.title %>
                            </h2>
                        </div>
                        <div class="card-body bg-light">
                            <a class="btn btn-primary" href="/<%= article.slug %>">Ler artigo...</a>
                        </div>
                    </div>
                    <% } %>
                    <div class="row">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                            <% if (result.page > 1) { %>
                                <li class="page-item"><a class="page-link" href="/articles/page/<%= result.page - 1 %>">Previous</a></li>
                            <% } %>
                            <% if (result.next) { %>
                                <li class="page-item"><a class="page-link" href="/articles/page/<%= result.page + 1 %>">Next</a></li>
                                <% } %>
                            </ul>
                          </nav>
                    </div>
            </div>
    </body>
    <%- include('../../partials/footer.ejs') %>